@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-deepBlue: #5D768B;
  --color-ivoryBreeze: #F8EFE5;
  --color-softPink: #F2D9C7;
  --color-sandyBeige: #C8B39B;
  --color-driftwood: #E3C9A4;
  --color-driftwoodHover: #CCB594;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', 'Outfit', sans-serif;
}
